$secondary-color: #111111;
$primary-color: #dddddd;

* {
    margin: 0;
    padding: 0;
}

.settings__row {
    margin: 0 auto 0 450px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.settings__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-field {
    border: 1px solid $secondary-color;
    outline: none;
    padding: 14px 10px 10px 10px;
    font-size: 15px;
    margin-bottom: 10px;
    background: transparent;
    width: 400px;
}

.settings__button {
    border: none;
    outline: none;
    width: 797px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    color: $primary-color;
    background-color: $secondary-color;
    padding: 15px 0;
    margin-top: 15px;
    cursor: pointer;
}



.settings__wrapper {
    width: 100%;
    height: 100%;

    .settings__heading {
        font-size: 20px;
        font-weight: bold;
        color: $secondary-color;
        line-height: 25px;
        margin-bottom: 70px;
    }

    .settings__subheading {
        font-size: 13px;
        font-weight: normal;
        text-transform: uppercase;
        color: $secondary-color;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    
    .settings__placeholder-img {
        height: 150px;
        width: 150px;
        border: 1px solid $secondary-color;
        border-radius: 50%;
    }

    #settings__image-file {
        color: transparent;
        position: relative;
        bottom: 95px;
        left: 60px;
        z-index: 10;
        width: 30px;
        height: 30px;
        outline: none;

        &::-webkit-file-upload-button {
            visibility: hidden;
        }

        &::after {
            content: '+';
            width: 80%;
            height: 80%;
            border: 1px solid $secondary-color;
            border-radius: 50%;
            background-color: $primary-color;
            color: $secondary-color;
            position: relative;
            bottom: 55%;
            display: inline-block;
            outline: none;
            cursor: pointer;
        }
    }

    .settings__colaborators-list-wrapper {
        width: 100%;
        text-align: center;

        .settings__colaborators-list{
            list-style: none;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
            background-color: #ebebeb;
            // overflow:hidden;
            // overflow-y:scroll;
            // max-height: 200px;

            li {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin: 10px auto;
                padding: 10px 5px;
                background-color: #c4c4c4;
            }
            
            img {
                width: 35px;
            }
        }
    }
}