$secondary-color: #111111;
$primary-color: #dddddd;

* {
    margin: 0;
    padding: 0;
}

.settings__row {
    margin: 0 auto 0 450px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.settings__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-field {
    border: 1px solid $secondary-color;
    outline: none;
    padding: 14px 10px 10px 10px;
    font-size: 15px;
    margin-bottom: 10px;
    background: transparent;
    width: 400px;
}

.settings__button,
.settings__button-primary {
    border: none;
    outline: none;
    width: 100%;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    color: $primary-color;
    background-color: $secondary-color;
    padding: 15px 0;
    margin-top: 15px;
    cursor: pointer;
}

.settings__outlined-button {
    width: 30px;
    height: 30px;
    background: none;
    outline: none;
    border: 1px solid #d1d1d1;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.settings__button-primary {
    height: 60px;
    background-color: #01d39f;
    color: $secondary-color;
    font-weight: bold;
    font-size: 15px;
}



.settings__wrapper {
    width: 100%;
    min-height: 100vh;

    .settings__heading {
        font-size: 20px;
        font-weight: bold;
        color: $secondary-color;
        line-height: 25px;
        margin-bottom: 70px;
    }

    .settings__subheading {
        font-size: 13px;
        font-weight: normal;
        text-transform: uppercase;
        color: $secondary-color;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    
    .settings__placeholder-img {
        height: 150px;
        width: 150px;
        border: 2px solid $secondary-color;
        border-radius: 50%;
    }

    #settings__image-file {
        color: transparent;
        position: relative;
        bottom: 95px;
        left: 60px;
        z-index: 10;
        width: 45px;
        height: 45px;
        outline: none;

        &::-webkit-file-upload-button {
            visibility: hidden;
        }

        &::after {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            content: '+';
            width: 80%;
            height: 80%;
            border: 1px solid $secondary-color;
            border-radius: 50%;
            background-color: $primary-color;
            color: $secondary-color;
            position: relative;
            bottom: 50%;
            outline: none;
            cursor: pointer;
        }
    }

    .settings__colaborators-list-wrapper {
        width: 100%;

        .settings__colaborators-list{
            width: 100%;
            padding: 10px;

            th {
                color: #505050;
                text-align: left;
                font-size: 10px;
                font-weight: normal;
                text-transform: uppercase;
                color: $secondary-color;
            }

            td {
                border-bottom: 1px solid #d1d1d1;
            }
            
            img {
                border-radius: 50%;
                width: 35px;
            }
        }
    }

    #settings__project-collaborators {
        width: 100%;
        display: flex;

        button {
            margin-top: 0;
            width: 10%;
        }
        input {
            margin-bottom: 0;
            width: 45%;
        }
        .settings__select-colaborator {
            height: 45px;
            width: 45%;
        }
    }

    hr {
        margin: 70px auto;
        width: 60%;
        border: 1px solid #d1d1d1;
    }
}